<p-fieldset legend="Education">
  <div class="grid">
    <div
      class="col-12 flex align-items-center justify-content-center"
      data-aos="fade-up"
      data-aos-duration="2500"
    >
      <i class="ng-icon-education"></i>
    </div>
    <div class="col-12">
      <div class="grid">
        <div
          class="col-12 univ-detail"
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-delay="250"
        >
          <label class="univ-name">Burapha University</label>
        </div>
        <div
          class="col-12 univ-detail"
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-delay="500"
        >
          <label class="univ-major">Informatics, Software Engineer</label>
        </div>
        <div
          class="col-12 univ-detail"
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-delay="750"
        >
          <label class="univ-gpa">GPA: 3.28</label>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>
