<!-- topbar -->
<div class="topbar" [class.topbar-on-scroll]="sticky" #stickyTopbar role="banner">
  <img
    src="../../assets/logo-white-dev.png"
    height="120"
    alt="chalermchai.dev Logo"
  />
  <div class="spacer"></div>
  <a href="https://github.com/chalermchai-wp" target="_blank" aria-label="github chalermchai" rel="noopener" title="github">
    <i class="pi pi-github header-icon"></i>
  </a>
  <a href="https://www.linkedin.com/in/chalermchai-wp" target="_blank" aria-label="linkedin chalermchai" rel="noopener" title="linkedin">
    <i class="pi pi-linkedin header-icon"></i>
  </a>
  <a href="https://medium.com/@chalermchai.wp" target="_blank" aria-label="medium chalermchai" rel="noopener" title="medium">
    <i class="pi ng-icon-medium header-icon"></i>
  </a>
  <a href="../../assets/resume.pdf" target="_blank" aria-label="resume chalermchai" rel="noopener" title="resume">
    <i class="pi ng-icon-cv header-icon"></i>
  </a>
</div>
